<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Shop</title>
    <!--JS-->
    <base href="/">
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="api/ajaxFetch.js" type="text/javascript"></script>
    <script src="font-awesome/js1/fontawesome.js" type="text/javascript" ></script>
    <!--CSS-->
    <link rel="stylesheet" href="font-awesome/css1/all.css" type="text/css">
    <link rel="stylesheet" href="css/style4.css" type="text/css">
    <link rel="stylesheet" href="css/card.css" type="text/css">
    <link rel="stylesheet" href="css/cart.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css">
    <link rel="icon" href="images/icon.png"/>
</head>
<body>
<div>
    <table class="table">
        <thead class="thread-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row"><img th:src="*{'data:image;base64,'+{product.image}}"
                                 style="width: 100px; height: 100px">
            </th>
            <td>[[*{product.name}]]
                <br>
                <button type="button" class="btn btn-success " data-toggle="modal"
                        th:attr="data-target='#changeNameButton'+*{product.id}">Edit
                </button>
                <div class="modal fade" th:id="*{'changeNameButton'+{product.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="admin/changeName" method="post">
                                    <div class="form-group">
                                        <label>product id</label>
                                        <input type="text" th:value="*{product.id}"
                                               class="form-control" name="id" readonly>
                                        <label>product name</label>
                                        <input type="text" th:value="*{product.name}"
                                               class="form-control" name="name" readonly>
                                        <label>new product name</label>
                                        <input type="text" name="newPname" class="form-control">
                                        <br>
                                        <button type="submit" class="btn btn-primary">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>[[*{product.price}]]
                <br>
                <button type="button" class="btn btn-success " data-toggle="modal"
                        th:attr="data-target='#changePriceButton'+*{product.id}">Edit
                </button>
                <div class="modal fade" th:id="*{'changePriceButton'+{product.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit price</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/changePprice" method="post">
                                    <div class="form-group">
                                        <label>product id</label>
                                        <input type="text" th:value="*{product.id}"
                                               class="form-control" name="id" readonly>
                                        <label>product price</label>
                                        <input type="text" th:value="*{product.price}"
                                               class="form-control" name="name" readonly>
                                        <label>new product price</label>
                                        <input type="text" name="newPprice" class="form-control">
                                        <br>
                                        <button type="submit" class="btn btn-primary">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>[[*{product.description}]]
                <br>
                <button type="button" class="btn btn-success " data-toggle="modal"
                        th:attr="data-target='#changeDescriptionButton'+*{product.id}">
                    Edit
                </button>
                <div class="modal fade" th:id="*{'changeDescriptionButton'+{product.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/changePdescription" method="post">
                                    <div class="form-group">
                                        <label>product id</label>
                                        <input type="text" th:value="*{product.id}"
                                               class="form-control" name="id" readonly>
                                        <label>product description</label>
                                        <input type="text" th:value="*{product.description}"
                                               class="form-control" name="name" readonly>
                                        <label>new product description</label>
                                        <input type="text" name="newPdescription" class="form-control">
                                        <br>
                                        <button type="submit" class="btn btn-primary">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td><br><a th:href="@{admin/deleteProduct/{id}(id=${product.id})}"
                   class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>