<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products</title>

</head>

<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<div>
    <div class="col-12">
        <h1 class="text-center">List of products</h1>
        <hr>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/"> Add Product </a></li>
            <li class="list-inline-item"><a href="/productsList"> Products List </a></li>
        </ul>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row">[[*{product.id}]]</th>
            <td>[[*{product.name}]]
                <br>
                <!-- Button Modal -->
                <button type="button" class="btn btn-success " data-toggle="modal"
                        th:attr="data-target='#changeNameButton'+*{product.id}">
                    Edit
                </button>
                <!-- Modal -->
                <div class="modal fade" th:id="*{'changeNameButton'+{product.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit name</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/changePname" method="post">
                                    <div class="form-group">
                                        <label>product id</label>
                                        <input type="text" th:value="*{product.id}"
                                               class="form-control" name="id" readonly>
                                        <label>product name</label>
                                        <input type="text" th:value="*{product.name}"
                                               class="form-control" name="name" readonly>
                                        <label>new product name</label>
                                        <input type="text" name="newPname" class="form-control">
                                        <br>
                                        <button type="submit" class="btn btn-primary">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>[[*{product.price}]]
                <br>
                <!-- Button Modal -->
                <button type="button" class="btn btn-success " data-toggle="modal"
                        th:attr="data-target='#changePriceButton'+*{product.id}">
                    Edit
                </button>
                <!-- Modal -->
                <div class="modal fade" th:id="*{'changePriceButton'+{product.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit price</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/changePprice" method="post">
                                    <div class="form-group">
                                        <label>product id</label>
                                        <input type="text" th:value="*{product.id}"
                                               class="form-control" name="id" readonly>
                                        <label>product price</label>
                                        <input type="text" th:value="*{product.price}"
                                               class="form-control" name="name" readonly>
                                        <label>new product price</label>
                                        <input type="text" name="newPprice" class="form-control">
                                        <br>
                                        <button type="submit" class="btn btn-primary">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>[[*{product.description}]]
                <br>
                <!-- Button Modal -->
                <button type="button" class="btn btn-success " data-toggle="modal"
                        th:attr="data-target='#changeDescriptionButton'+*{product.id}">
                    Edit
                </button>
                <!-- Modal -->
                <div class="modal fade" th:id="*{'changeDescriptionButton'+{product.id}}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/changePdescription" method="post">
                                    <div class="form-group">
                                        <label>product id</label>
                                        <input type="text" th:value="*{product.id}"
                                               class="form-control" name="id" readonly>
                                        <label>product description</label>
                                        <input type="text" th:value="*{product.description}"
                                               class="form-control" name="name" readonly>
                                        <label>new product description</label>
                                        <input type="text" name="newPdescription" class="form-control">
                                        <br>
                                        <button type="submit" class="btn btn-primary">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td><a th:href="@{/deleteProduct/{id}(id=${product.id})}"
                   class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>