<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Shop</title>
    <!--JS-->
    <base href="/">
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="api/ajaxFetch.js" type="text/javascript"></script>
    <script src="font-awesome/js1/fontawesome.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/bootstrap-select.min.js" type="text/javascript"></script>
    <!--CSS-->
    <link rel="stylesheet" href="font-awesome/css1/all.css" type="text/css">
    <link rel="stylesheet" href="css/style4.css" type="text/css">
    <link rel="stylesheet" href="css/card.css" type="text/css">
    <link rel="stylesheet" href="css/cart.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css" type="text/css">
    <link rel="icon" href="images/icon.png"/>
</head>
<body>
<div class="wrapper">
    <nav th:fragment="sidebar" class="active" id="sidebar">
        <div class="sidebar-header">
            <h3>Web-Shop</h3>
            <strong><i class="fa fa-shopping-cart" aria-hidden="true"></i></strong>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="/"><i class="fas fa-home"></i>Home
                </a>
            </li>
            <li>
                <a href="#"><i class="fas fa-question"></i>FQ</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-paper-plane"></i>Contact</a>
            </li>
        </ul>
    </nav>
    <div id="content">

        <nav th:fragment="topBar"
             class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse"
                        class="btn btn-light mr-4">
                    <i class="fas fa-align-left"></i>
                </button>
                <form class="form-inline frm">
                    <input class="form-control mr-sm-2" type="search" value=""
                           id="search" onkeydown="dropDown(event);" data-toggle="dropdown"
                           placeholder="Search" aria-label="Search">
                    <div class="dropdown-menu dropdown-menu-right ml-4"
                         id="dropdown-container"></div>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-light mr-3" href="/shoppingCart">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="label"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-light" href="#"
                               onclick="handleClickLogin(event)">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="app">
                <div class="col-md-9">
                    <div class="row g-2">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-body">
                                    <form class="text-center"
                                          action="/shoppingCartCustomerConfirm"
                                          method="POST">
                                        <input type="text" name="name" id="name"
                                               class="form-control mb-4" placeholder="Your name">
                                        <input type="text" name="email" id="email"
                                               class="form-control mb-4" placeholder="Email">
                                        <input type="text" name="phone" id="PhoneNumber"
                                               class="form-control mb-4" placeholder="Phone Number">
                                        <input type="text" name="address" id="adress"
                                               class="form-control mb-4" placeholder="Adress">
                                        <input type="submit" value="Submit"/>
                                        <input type="reset" value="Reset"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
